body{
	font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
}
.container{
	margin:auto;
	text-align: center;
}
li{
	display: inline;
}
p.mainText{
	background-color:peachpuff;
	width: fit-content;
	text-align: center;
	margin: auto;
	padding: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.imageSlider{
	width: 60%;
	margin: auto;
	border: 5px solid black;
	overflow: hidden;
	position: relative;
}
.imageSlide{
	display: flex;
	width: 100%;
}
.imageSlide img{
	width: 60vw;
	height: 33.75vw;
}
#prevBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 30px;
	color: black;
	cursor: pointer;
}
#nextBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	font-size: 30px;
	color: black;
	cursor: pointer;
}
.footerText{
	text-decoration: underline black;
	display: inline;
}
.burger {
    display: block;
    margin: 15px 0 10px 5px;
    width: 5%;
}
#moreContent{
	display:none;
}
   

   